@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1300px;
  color: #f4f5f5;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1300px / 1300px = 100% */
  z-index: 0;
  background: #ffffff center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner {
  position: relative;
  width: 100%; /* 1300px / 1300px = 100% */
  z-index: 7;
  background: url(images/sloi_4.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained {
  margin: 0 auto;
  position: relative;
  width: 1300px;
}
.row-2 {
  overflow: hidden;
  position: relative;
  width: 1277px;
}
.sloi-7 {
  float: left;
}
.text {
  float: left;
  margin: 1px 0 0 2px;
  width: 333px;
  font-family: MyriadPro, serif;
  font-size: 49.3762px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.text-3 {
  float: right;
  margin: 43px 0 0;
  width: 240px;
  font-family: MyriadPro, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.text-2 {
  float: right;
  margin: 38px 4px 0 0;
  width: 373px;
  font-family: MyriadPro, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.nav {
  height: 130px;
  margin: -2px 0 0;
  position: relative;
  width: 1292px;
  background: #473421;
}
.figura-1-kopiya {
  height: 127px;
  left: 50%;
  position: absolute;
  top: 3px;
  width: 3px;
  background: #000000;
  margin-left: 297px;
}
.figura-1-kopiya-2 {
  height: 127px;
  left: 50%;
  position: absolute;
  top: 2px;
  width: 3px;
  background: #000000;
  margin-left: 32px;
}
.figura-1 {
  height: 127px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
  background: #000000;
  margin-left: -291px;
}
.menu {
  left: 50%;
  position: absolute;
  top: 36px;
  width: 1171px;
  list-style: none;
  margin-left: -560px;
}
.menu li {
  float: left;
}
.glavnaya {
  font-weight: bold;
  text-align: center;
}
.li-glavnaya {
  margin: 0 102px 0 0;
}
.o-kompanii {
  font-weight: bold;
  text-align: center;
}
.li-o-kompanii {
  margin: 0 27px 0 0;
}
.prais {
  font-weight: bold;
  text-align: center;
}
.li-prais {
  margin: 0 45px 0 0;
}
.otzyvy-kopiya {
  font-weight: bold;
  text-align: center;
}
.wrapper-2 {
  margin: 6px 0 0;
  position: relative;
}
.sloi-3 {
  float: left;
  margin: 0 -83px 0 0;
}
.text-4 {
  margin: 334px 0 0 538px;
  font-family: MyriadPro, serif;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.pryamougolnik-1-kopiya-holder {
  overflow: hidden;
  padding: 25px 0 53px;
  position: relative;
  z-index: 2;
  background: #473421;
}
.pryamougolnik-7-holder {
  margin: 0 auto;
  min-height: 51px;
  padding: 5px 22px 10px;
  position: relative;
  right: 12.5px;
  width: 399px;
  background: #ffffff;
}
.sloi-11 {
  float: left;
  margin: 0 4px 0 0;
}
.poisk {
  margin: 2px 0 0;
  width: 177px;
  opacity: 0.52;
  color: #291b0e;
  font-family: MyriadPro, serif;
  font-weight: bold;
  text-align: center;
}
.col {
  margin: -15px 0 0;
  min-height: 1835px;
  overflow: hidden;
  padding: 36px 0 0;
  position: relative;
  width: 100%; /* 1300px / 1300px = 100% */
  z-index: 19;
  background: url(images/sloi_6.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.application {
  margin: 0 auto;
  position: relative;
  width: 1300px;
}
.kontakty {
  margin: 0 auto;
  min-height: 1572px;
  padding: 37px 22px;
  position: relative;
  width: 1239px;
  background: #7b7b7b;
}
.row-3 {
  position: relative;
}
.figura-2 {
  float: left;
  height: 4px;
  margin: 0 -1px 0 0;
  width: 32px;
  border: 2px solid #000000; /*stroke*/
  background: #000000;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.text-5 {
  margin: 0 0 0 31px;
  color: #291b0e;
  font-weight: bold;
  text-align: center;
}
.row-6 {
  margin: 64px auto 0;
  position: relative;
  right: 59.5px;
  width: 894px;
}
.figura-3 {
  float: left;
  margin: 4px 0 0;
}
.text-6 {
  float: left;
  margin: 4px 0 0 20px;
  color: #291b0e;
  text-align: center;
}
.text-7 {
  float: right;
  color: #291b0e;
  text-align: center;
}
.wrapper-11 {
  float: right;
  height: 22px;
  margin: 13px 23px 0 0;
  position: relative;
  width: 29px;
}
.figura-8 {
  left: 50%;
  position: absolute;
  top: 13px;
  margin-left: -14.5px;
}
.figura-5 {
  left: 50%;
  position: absolute;
  top: 2px;
  margin-left: -14.5px;
}
.figura-6 {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -14.5px;
}
.figura-7 {
  left: 50%;
  position: absolute;
  top: 2px;
  margin-left: 3.5px;
}
.row-4 {
  margin: 31px 97px 0;
  position: relative;
}
.figura-9 {
  float: left;
  margin: 6px 27px 0 0;
}
.text-8 {
  color: #000000;
  text-align: left;
}
.text-9 {
  margin: 59px 0 0 44px;
  color: #291b0e;
  font-weight: bold;
  text-align: left;
}
.row-5 {
  left: 16px;
  margin: 33px auto 0;
  position: relative;
  width: 1113px;
}
.col-7 {
  float: left;
  position: relative;
  width: 447px;
}
.pryamougolnik-8-holder {
  min-height: 58px;
  padding: 11px 0 17px;
  position: relative;
  background: #fefefe;
}
.text-10 {
  margin: 0 280px 0 0;
  text-align: center;
}
.text-10 > * {
  color: #c0bdb9;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.pryamougolnik-8-kopiya-holder {
  margin: 41px 0 0;
  min-height: 58px;
  position: relative;
  background: #fefefe;
}
.text-11 {
  margin: 0 255px 0 0;
  text-align: center;
}
.text-11 > * {
  color: #bfbcb8;
  font-size: 30px;
  font-weight: bold;
  line-height: 58px;
  text-align: center;
}
.col-8 {
  float: right;
  position: relative;
  width: 610px;
}
.pryamougolnik-8-kopiya-2-holder {
  min-height: 157px;
  padding: 9px 0 117px;
  position: relative;
  background: #fefefe;
}
.soobshenie {
  margin: 0 429px 0 0;
  text-align: center;
}
.soobshenie > * {
  color: #bfbcb8;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.pryamougolnik-9-holder {
  left: 176.5px;
  margin: 40px auto 0;
  min-height: 64px;
  position: relative;
  width: 257px;
  background: #fefefe;
  color: #010101;
  font-size: 30px;
  font-weight: bold;
  line-height: 64px;
  text-align: center;
}
.text-12 {
  margin: 64px 0 0 49px;
  color: #291b0e;
  font-weight: bold;
  text-align: left;
}
.pryamougolnik-1-kopiya-2 {
  height: 131px;
  margin: 96px auto 0;
  max-width: 1300px;
  background: #473421;
}
.pryamougolnik-1-kopiya-2-2 {
  height: 129px;
  margin: -129px auto 0;
  max-width: 1298px;
  position: relative;
  z-index: 18;
  background: #473421;
}
.text-style {
  font-family: Rockwell, serif;
  font-weight: 800;
}
